body{
  background: #041C2C;
}
.nav{
  height: 12vh !important;
  background: rgb(99,110,114, 1) !important;
}

#img{
width: 40px;
}

#react{
/*   font-family: 'Khand',  !important; */
font-family: 'Architects Daughter',  !important;
}

#section_img{
  width: 100%;
  
 
}

.image_Size{
  height: 88vh !important;
}
#contenedor{
  height: 88vh;
  width: 100%;

}
#MOvieimg{
  width: 100%;
  
}
.infomovie{
  background: rgba(65, 147, 177, 0.5);
 position: absolute;
 width: 80%;
 height: 70%;
 top: 10%;
 left: 10%;
 display: flex;
 justify-content: space-between;
}

.section{
 
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2{
  height: 100%;
  width: 60%;
  color: white;
  padding: 30px;
}

#poster{
  width: 60%;
  
}
.btn-block{
  width: 82% !important;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}