body{
  background: #041C2C;
}
.nav{
  height: 12vh !important;
  background: rgb(99,110,114, 1) !important;
}

#img{
width: 40px;
}

#react{
/*   font-family: 'Khand',  !important; */
font-family: 'Architects Daughter',  !important;
}

#section_img{
  width: 100vw;
  
  background: blue;
 
}

.image_Size{
  height: 88vh !important;
}